body{
	background-color: beige;
	border-style: double groove;
	border-width: 30px;}
  h1{
	font-family: Lucida;
	font-size: 80px;
	color: green;
	text-align:center;
  }
/* Add a black background color to the top navigation */
.topnav {
    background-color: lightgreen;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: purple;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: beige;
  color: purple;}
body{background-color:beige;}
h1{text-align:center;
    font-size:80px;
  font-family: Lucida,script;
    color:purple;}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
color: white;}
h2{text-align:center;
	color:#8FD1B7;
font-size:50px;}
.fa {
    padding: 20px;
    font-size: 20px;
    width:50px;
    text-align:center;
    text-decoration:none;
	 border-radius:50%;	
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.75;
}

/* Set a specific color for each brand */

/* Instagram*/
.fa-instagram {
    background:lightgreen;
    color:white;
}

/* Facebook */
.fa-facebook {
    background:lightgreen;
    color: white;
}
/*page3-Gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 20px;
}
div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
